
.app-download{
    margin: auto auto;
    margin-top: 50px;
    font-size: max(2vw , 20px);
    text-align: center;
    font-weight: 500;
    color: rgb(103, 102, 102);
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw , 10px);
    margin-top: 30px;
}
.app-download-platforms img{
    width: max(20vw , 120px);
    max-width: 130px;
    transition: .5s;
    cursor: pointer;
}
.app-download-platforms img:hover{
  transform: scale(1.05);
}